<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>We are very sorry: <%= @name %>!</p>
    <p>
      Your donation for amount:<br><%= @amount %></p>
      --------------------------
    </p>
    <p>
      With description:<br>
      ----------
    </p>
    <p><%= @description %></p>
    <p>Got status: <%= @status %></p>
  </body>
</html>
